.label {
  height: 18px;
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
  font-style: normal;
  color: #414141;
}

.label-error {
  color: #DC3545;
}

.label-small {
  font-size: 12px;
}

.label-medium {
  font-size: 14px;
}

.label-large {
  font-size: 16px;
}