.input-search {
  .input-search input[type="search"] {
    background: url("@/assets/icons/magnifying.svg") no-repeat 5px 50%;
    background-size: 20px 13px;
    padding-left: 25px;
  }

  .input-search input[type="nosearch"] {
    background: url("@/assets/icons/magnifying.svg") no-repeat 99% 50%;
    background-size: 20px 13px;
    padding-left: 10px;
  }

  .input-search input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url("@/assets/icons/clear.svg") no-repeat;
    background-size: contain;
    pointer-events: none;
    cursor: pointer;
  }

  .input-search input[type="search"]:focus::-webkit-search-cancel-button {
    pointer-events: all;
  }
}